<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retos - Novatadas Informática</title>
  <link href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap' rel='stylesheet'>

  <link href="/styles/navigation.css" rel="stylesheet" type="text/css">
  <link href='/styles/notify.css' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/js/notify.js"></script>
  <style>
    html::-webkit-scrollbar {
      display: none;
    }

    html {

      -ms-overflow-style: none;
      /* IE y Edge */
      scrollbar-width: none;
      /* Firefox */

    }

    .challenges {
      padding: 2rem;
      display: flex;

      flex-wrap: wrap;

      gap: 1.3rem;
      justify-content: center;

    }

    .challenge-card {
      flex: 1 1 50%;
      padding: .85rem;
      background-color: #f1f1f1;
      max-width: 500px;
      scale: 1;
      border: 1px solid #7d7d7d;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
      transition: box-shadow .2s ease, background-color .2s ease, scale .15s ease, transform .15s ease;
    }

    .challenge-card.pending {
      background-color: #b3a6a6;
      scale: 0.99;
    }

    .challenge-card.completed {
      background-color: #c8dcc7;
      scale: 0.99;
    }

    .challenge-card:hover:not(.pending):not(.completed) {
      scale: 1.02;
      transform: rotate(-.5deg);
      box-shadow: 3px 3px 20px rgba(0, 0, 0, .4);
    }

    .challenge-card div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .5rem;
      user-select: none;
    }

    .challenge-card>p {
      margin-bottom: 1rem;
      user-select: none;
    }

    .challenge-card h2 {
      max-width: 70%;
    }

    .challenge-card .request-challenge-button {
      background-color: #35a850;
      color: white;
      padding: .5rem 1rem;
      border: 1px solid #2e7c3e;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color .2s ease;
    }

    .challenge-card .delete-challenge-button {
      background-color: #8b2c2c;
      color: white;
      padding: .5rem 1rem;
      border: 1px solid #551818;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color .2s ease;
    }

    .challenge-card .delete-challenge-button:hover {
      background-color: #551818;
    }

    .challenge-card:not(.pending):not(.completed) .request-challenge-button:hover {
      background-color: #2e7c3e;
    }

    .challenge-card .request-challenge-button.pending {
      background-color: #8b2c2c;
      border: none;
      cursor: not-allowed;
    }

    .challenge-card .request-challenge-button.completed {
      background-color: #367142;
      border: none;
      cursor: not-allowed;
    }

    .challenge-card form {
      display: flex;
      justify-content: center;
      margin-top: auto;
    }

    .challenge-options {
      display: flex;
      justify-content: center;
      gap: .5rem;
    }

    .points {
      position: relative;
      background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
      color: white;
      padding: .25rem .6rem;
      font-size: 1.1rem;
      border-radius: 24px;
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
      overflow: hidden;
    }

    .points::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(45deg);
      transition: opacity .2s ease-in-out;
      opacity: 0;
      filter: blur(10px);
    }


    .challenge-card:hover:not(.completed):not(.pending) .points::before {
      animation: points-reflection 2s ease-in-out forwards;
      opacity: 1;
    }

    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f1f1f1;
      padding: .5rem;
      text-align: center;
      font-size: .9rem;
      color: #333;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
    }

    @keyframes points-reflection {
      0% {
        transform: rotate(45deg) translateX(-100%);
      }

      50% {
        transform: rotate(45deg) translateX(100%);
      }

      100% {
        transform: rotate(45deg) translateX(-100%);
      }
    }

    @media (max-width: 650px) {
      .challenges {
        padding: 1rem;
      }

      .challenge-card {
        max-width: 100%;
      }

      .challenge-card h2 {
        max-width: 50%;
      }
    }
  </style>
</head>

<body>
  <div class='notify-container'>
    <i id='notify-icon'></i>
    <div class='notify-text'></div>
  </div>

  <header>
    <nav>
      <ul>
        <li><a href="/challenges" id="a-selected">Retos</a></li>
        <li><a href="/scoreboard">Marcador</a></li>
        <% if (loggedUser.isAdmin) { %>
        <li><a href="/admin-page">Admin</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

  <div class="challenges">
    <% allChallenges.forEach((challenge, index)=> { %>
    <% if (completedChallenges.includes(challenge._id)) { %>
    <div class="challenge-card completed">
      <div>
        <h2>
          <%= challenge.title %>
        </h2>
        <p class="points">
          <%= challenge.points %> puntos
        </p>
      </div>
      <p>
        <%= challenge.description %>
      </p>

      <div class="challenge-options">
        <% if (!loggedUser.isAdmin) { %>
        <form class="request-completed-challenge-form">
          <input type="hidden" name="challengeId" value="<%= challenge._id %>">
          <button type="submit" class="request-challenge-button completed" disabled>
            Completado
          </button>
        </form>
        <% } else if (loggedUser.isSuperAdmin) { %>
        <form class="delete-challenge-form">
          <input type="hidden" name="challengeId" value="<%= challenge._id %>">
          <button type="submit" class="delete-challenge-button">
            Eliminar
          </button>
        </form>
        <% } %>
      </div>

    </div>
    <% } else if (pendingChallenges.includes(challenge._id)) { %>
    <div class="challenge-card pending">
      <div>
        <h2>
          <%= challenge.title %>
        </h2>
        <p class="points">
          <%= challenge.points %> puntos
        </p>
      </div>
      <p>
        <%= challenge.description %>
      </p>

      <div class="challenge-options">
        <% if (!loggedUser.isAdmin) { %>
        <form class="request-completed-challenge-form">
          <input type="hidden" name="challengeId" value="<%= challenge._id %>">
          <button type="submit" class="request-challenge-button pending" disabled>
            Ya solicitado
          </button>
        </form>
        <% } else if (loggedUser.isSuperAdmin) { %>
        <form class="delete-challenge-form">
          <input type="hidden" name="challengeId" value="<%= challenge._id %>">
          <button type="submit" class="delete-challenge-button">
            Eliminar
          </button>
        </form>
        <% } %>
      </div>

    </div>
    <% } else { %>
    <div id="challenge-card-<%= challenge._id %>" class="challenge-card">
      <div>
        <h2>
          <%= challenge.title %>
        </h2>
        <p class="points">
          <%= challenge.points %> puntos
        </p>
      </div>
      <p>
        <%= challenge.description %>
      </p>

      <div class="challenge-options">
        <% if (!loggedUser.isAdmin) { %>
        <form class="request-completed-challenge-form">
          <input type="hidden" name="challengeId" value="<%= challenge._id %>">
          <button class="request-challenge-button" type="submit">
            Solicitar
          </button>
        </form>
        <% } else if (loggedUser.isSuperAdmin) { %>
        <form class="delete-challenge-form">
          <input type="hidden" name="challengeId" value="<%= challenge._id %>">
          <button type="submit" class="delete-challenge-button">
            Eliminar
          </button>
        </form>
        <% } %>
      </div>

    </div>
    <% } %>
    <% }) %>
  </div>
  <% if (loggedUser.isAdmin) { %>
  <footer>
    <p>Estas desde la vista de administrador.</p>
  </footer>
  <% } %>

  <script>
    const $$ = (selector) => document.querySelectorAll(selector)
    const $ = (selector) => document.querySelector(selector)
  </script>

  <% if (!loggedUser.isAdmin) { %>
  <script>
    const requestCompletedChallengeForms = $$('.request-completed-challenge-form')

    requestCompletedChallengeForms.forEach((requestCompletedChallengeForm) => {

      requestCompletedChallengeForm.addEventListener('submit', (event) => {
        event.preventDefault()
        const challengeId = requestCompletedChallengeForm.querySelector('input[name="challengeId"]').value

        fetch(`/challenges/request-complete-challenge`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              challengeId,
              userId: '<%= loggedUser.id %>'
            })
          }).then((res) => res.json())
          .then((data) => {
            if (data.err) {
              notify(data.err, 1000)
            } else {
              $(`#challenge-card-${challengeId}`).classList.add('pending')

              requestCompletedChallengeForm.querySelector('.request-challenge-button').textContent = 'Ya solicitado'

              requestCompletedChallengeForm.querySelector('.request-challenge-button').classList.add('pending')
              requestCompletedChallengeForm.querySelector('.request-challenge-button').disabled = true

              notify('Reto solicitado correctamente.', 1000, 'success')
            }
          })

      })
    })
  </script>
  <% } %>
  <% if (loggedUser.isSuperAdmin) { %>
  <script>
    const deleteChallengeForms = $$('.delete-challenge-form')

    deleteChallengeForms.forEach((deleteChallengeForm) => {
      deleteChallengeForm.addEventListener('submit', (event) => {
        event.preventDefault()
        const challengeId = deleteChallengeForm.querySelector('input[name="challengeId"]').value

        fetch(`/challenges/delete-challenge`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              challengeId
            })
          }).then((res) => res.json())
          .then((data) => {
            if (data.err) {
              notify(data.err, 1000)
            } else {
              $(`#challenge-card-${challengeId}`).remove()

              notify('Reto eliminado correctamente.', 1000, 'success')
            }
          })

      })
    })
  </script>
  <% } %>
</body>

</html>