<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcador - Novatadas Informática</title>
  <link
    href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'
    rel='stylesheet'>
  <link href="/styles/navigation.css" rel="stylesheet" type="text/css">
  <link href="/styles/table.css" rel="stylesheet" type="text/css">
  <style>
    tbody tr:nth-child(odd):hover {
      background-color: rgb(230 230 230 / .7);
    }

    tbody tr:nth-child(even):hover {
      background: rgb(230 230 230 / .8);
    }

    .logged-user-row {
      background-color: #35a850;
      color: white;
    }
  </style>
</head>

<body>



  <header>
    <nav>
      <ul>
        <li><a href="/challenges">Retos</a></li>
        <li><a href="/scoreboard" id="a-selected">Marcador</a></li>
        <% if (loggedUser.isAdmin) { %>
          <li><a href="/admin-page">Admin</a></li>
          <% } %>
      </ul>
    </nav>
  </header>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Puntuación</th>
          <th>Retos realizados</th>
        </tr>
      </thead>
      <tbody>
        <% allUsers.forEach((user, index)=> { %>
          <tr id="<%= user._id %>" class="<%= user._id === loggedUser.id ? 'logged-user-row' : '' %>">
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.points %>
            </td>
            <td>
              <%= user.challenges.length %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
  <script>
    const $ = (selector) => document.querySelector(selector)
    const $$ = (selector) => document.querySelectorAll(selector)

    const tableRows = $$('tbody tr')

    tableRows.forEach(row => {
      row.addEventListener('click', () => {
        window.location.href = `/user/${row.id}`
      })
    })
  </script>
</body>

</html>