<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcador - Novatadas Informática</title>
  <link href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap' rel='stylesheet'>
  <link rel='stylesheet' href='https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css'>
  <link href="/styles/navigation.css" rel="stylesheet" type="text/css">
  <link href="/styles/table.css" rel="stylesheet" type="text/css">
  <style>
    tbody tr:nth-child(odd):hover {
      background-color: rgb(230 230 230 / .7);
    }

    tbody tr:nth-child(even):hover {
      background: rgb(230 230 230 / .8);
    }

    tbody tr:nth-child(1) {
      background-color: #e7d98b;
    }

    tbody tr:nth-child(1):hover {
      background-color: #cec27b;
    }

    tbody tr:nth-child(2) {
      background-color: #cfcccc;
    }

    tbody tr:nth-child(2):hover {
      background-color: #bfbdb9;
    }

    tbody tr:nth-child(3) {
      background-color: #e6af78;
    }

    tbody tr:nth-child(3):hover {
      background-color: #d19e6b;
    }

    .logged-user-row {
      color: white;
      animation: breathe 2s infinite;
    }

    @keyframes breathe {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.01);
      }

      100% {
        transform: scale(1);
      }
    }
  </style>
</head>

<body>



  <header>
    <nav>
      <ul>
        <li><a href="/challenges">Retos</a></li>
        <li><a href="/scoreboard" id="a-selected">Marcador</a></li>
        <% if (loggedUser.isAdmin) { %>
        <li><a href="/admin-page">Admin</a></li>
        <% } %>
        <% if (loggedUser.isSuperAdmin) { %>
        <li><a href="/super-admin-page">Avanzadas</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Puntuación</th>
          <th>Retos</th>
          <% if (loggedUser.isAdmin) { %>
          <th>Retos solicitados</th>
          <% } %>
          <th>Premio extra</th>
        </tr>
      </thead>
      <tbody>
        <% allUsers.forEach((user, index)=> { %>
        <tr id="<%= user._id %>" class="<%= user._id === loggedUser.id ? 'logged-user-row' : '' %>">
          <td>
            <%= index + 1 %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.points %>
          </td>
          <td>
            <%= user.challenges.length %>
          </td>
          <% if (loggedUser.isAdmin) { %>
          <td>
            <%= user.pendingChallenges.length %>
          </td>
          <% } %>
          <td>
            <% if (index < 2) { %>
            -
            <% } else { %>
            <%= user.extraPrizePercentage %>%
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <script>
    const $ = (selector) => document.querySelector(selector)
    const $$ = (selector) => document.querySelectorAll(selector)

    const tableRows = $$('tbody tr')

    tableRows.forEach(row => {
      row.addEventListener('click', () => {
        window.location.href = `/user/${row.id}`
      })
    })
  </script>
</body>

</html>